/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require bootstrap-datepicker3
 */
.login{
    margin-left:35%;
}
#user_email{
    width: 30%;
    padding: 3px;
}
#user_password{
    width: 30%;
    padding: 3px;
}
#user_password_confirmation{
    width: 30%;
    padding: 3px;
}

#menu {
    width: auto;
    height: 35px;
    font-size: 16px;
    font-family: Tahoma, Geneva, sans-serif;
    font-weight: bold;
    text-align: center;
    text-shadow: 3px 2px 3px #333333;
    background-color: blue;
    border-radius: 8px;
}

#menu ul {
    height: auto;
    padding: 8px 0px;
    margin: 0px;
}

#menu li {
    display: inline;
    padding: 20px;
}

#menu a {
    text-decoration: none;
    color: white;
    padding: 8px 8px 8px 8px;
}

#menu li {
    display: inline;
    padding: 20px;
}

#menu a {
    text-decoration: none;
    color: white;
    padding: 8px 8px 8px 8px;
}

ul {
    margin-left: -45% !important;
}

.add_new {
    float: right;
}

#feature_request_client_id {
    width: 50%;
    height: 30px;
    border: 0.5px solid black;
}

#feature_request_product_id {
    width: 50%;
    height: 30px;
    border: 0.5px solid black;
}

#user_name {
    width: 30%;
    height: 30px;
}

#user_first_name {
    width: 30%;
    height: 30px;
}

#user_last_name {
    width: 30%;
    height: 30px;
}

#user_joining_date {
    width: 30%;
    height: 30px;
}
